<h1>宝具名からルビを当てるクイズ</h1>
<p>あなたはFate/stay nightの宝具名の読み方をどれだけ知っているでしょうか？</p>
<p>10問のクイズに挑戦してみましょう！</p>
<p>回答はひらがなで入力してください。中点は記載を抜いてください。</p>
<p>例：○げいぼるく、×げい・ぼるく</p>
<%= link_to "クイズを始める", quiz_index_path %>
